  <form class="new-appointment-form">
<h1>Book an appointment for {{data.date}} at {{data.time}} using the form below.</h1>
    <div>
      <label for="title">Appointment Title</label>
      <input type="text" id="appointment-title" name="appointment-title" />
    </div>
    <div>
      <label for="service-requested">Service Requested</label>
      <input type="text" id="service" name="service" />
    </div>
    <button type="submit" class="btn">Book</button>
  </form>
