<title>Customer Testimonials</title>
<link rel="shortcut icon" href="/Users/jessicamulliken/UNC Bootcamp/d-cubed-lawncare/public/d3 logo.png"
<body>
    <section i="Testimonials">
        <div class="testimonial-heading">
            <span>Comments</span>
            <h1>Clients Says</h1>
        </div>
    </section>
</body>

<section i="testimonials">
    <div class="testimonial-heading">
        <span>Comments</span>
    </div>
    <div class="testimonal-box-container">
        <div class="testionial-box"></div>
            <div class="box-top>
                <div class=profile>
                    <div class=reviews">
                        <div class="profile-img">
                            <img src="/name/nm0000093/"
                        </div>
                        <div class="name-user">
                            <strong>Brad Pitt</strong>
                            <span>@bradpittoffical</span>
                        </div>
                    </div>

                    <div class="reviews">
                        <i class="fas fa-star"</i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
    </div>
</section>