<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D-Cubed Lawn Care</title>
  <link rel="icon" type="image/x-icon" href="d3.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
		<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="d3-logo.png" alt="blue d cubed with circles surrounding company motto locally owned. family operated."></a>
      <ul class="right hide-on-med-and-down">
				{{#if data}}
				<li><span class="black-text">Welcome, {{data.username}}</span></li>
				{{/if}}
				<li><a href="/">Home</a></li>
				{{#unless data}}
				<li><a href="/login">Log In</a></li>
				<li><a href="/signup">Sign Up</a></li>
				{{/unless}}
				{{#if data}}
				<li><a href="/api/signout">Sign Out</a></li>
				{{/if}}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
				{{#unless username}}
				<li><a href="/login">Log In</a></li>
				<li><a href="/signup">Sign Up</a></li>
				{{/unless}}
				{{#if username}}
				<li><a href="/api/signout">Sign Out</a></li>
				{{/if}}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
    <main>
      {{{ body }}}
    </main>

</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/public.js"></script>
</html>