<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D-Cubed Lawn Care</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css%22%3E"
</head>

<body>
  <div class="wrapper">
<<<<<<< HEAD
    <header>
      <h1>
        <a href="/">D<sup>3</sup> Lawn Care</a>
      </h1>
    </header>
    <main class="main"
=======
		<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				{{#unless loggedIn}}
				<li><a href="/login">Log In</a></li>
				<li><a href="/signup">Sign Up</a></li>
				{{/unless}}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
				{{#unless loggedIn}}
				<li><a href="/login">Log In</a></li>
				<li><a href="/signup">Sign Up</a></li>
				{{/unless}}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<<<<<<< HEAD
    <main>
>>>>>>> 298d2fdf604454413c79ecaf7c9461023bab76c4
=======
    <main class="container">
>>>>>>> 569332593d744a575809149d6e47dee4adb5e936
      {{{ body }}}
    </main>

</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/public.js"></script>
</html>