<div class="row">
  <h1 class="center-align login-message">Sign Up For D<sup>3</sup>
    Lawncare
  </h1>
</div>
<div class="row">
  <form class="col s6 offset-s3" method="post">
    <div class="row center-align">
      <div class="input-field">
        <input type="text" name="username" class="validate" required />
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row center-align">
      <div class="input-field">
        <input id="password" type="password" class="validate" name="password" />
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row center-align">
      <div class="input-field">
        <input type="text" name="firstName" class="validate" required />
        <label for="firstName">First Name</label>
      </div>
    <div class="row center-align">
      <div class="input-field">
        <input type="text" name="lastName" class="validate" required />
        <label for="lastName">Last Name</label>
      </div>
    <div class="row center-align">
      <div class="input-field">
        <input type="text" name="stAddress" class="validate" required />
        <label for="stAddress">Street Address</label>
      </div>
    <div class="row center-align">
      <div class="input-field">
        <input type="text" name="city" class="validate" required />
        <label for="city">City</label>
      </div>
    <div class="row center-align">
      <div class="input-field">
        <input type="text" name="state" class="validate" required />
        <label for="state">State</label>
      </div>
    <div class="row center-align">
      <div class="input-field">
        <input type="text" name="zip" class="validate" required />
        <label for="zip">zip</label>
      </div>
    <div class="row center-align">
      <div class="input-field">
        <input type="text" name="phone" class="validate" required />
        <label for="phone">Phone</label>
      </div>
    <div class="row center-align">
      <button class="btn" type="submit" formaction="/api/signup">Sign Up</button>
    </div>
  </form>
</div>