
		<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text text-accent-4"><a href="/">D<sup>3</sup> Lawn Care</a></h1>
        <div class="row center">
          <h5 class="header col s12 light light-green-text text-accent-3">Locally operated. Family Owned.</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light blue accent-4 light-green-text text-accent-3">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="stylesheets/grass-seed-spreading.jpeg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text text-accent-3"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Lightning Fast Service</h5>

            <p class="light">Schedule an appointment from the list of available appointment times and our family will take care of you, lightning fast!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text text-accent-3"><i class="material-icons">group</i></h2>
            <h5 class="center">Teamwork Makes the Dream Work</h5>

            <p class="light">By utilizing our family-oriented approach, we work as a single unit to get the job done according to specifications.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text text-accent-3"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to Work With</h5>

            <p class="light">We're flexible and our website is easy to use. Try it by signing up today.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light grey-text">We care for your lawn so you don't have to.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="stylesheets/lawn-cutting-services.jpeg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send light-green-text text-accent-3"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Please contact us by calling <a href="tel:+15555551234">555-555-1234 or sending us an <a href="mailto:d3lawncare@gmail.com">email</a>.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">With our world class customer care, you'll begin to feel like family.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="stylesheets/leaves-with-rake.jpeg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer blue accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">We are a two-generation family of lawn care experts born and raised in NC that specialize in lawn cutting, stump removal, lawn edging, leaf pickup and removal, and lawn seeding. We beleive in keeping it in the fammily so that the quality standards remain consistent. We are pleased to serve the Triad and thankful for your business.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Designs, Tricks and More</h5>
          <ul>
            <li><a class="white-text" href="https://www.thespruce.com/lawn-mowing-patterns-5221488">Lawn Mowing Patterns</a></li>
            <li><a class="white-text" href="https://www.scotts.com/en-us/library/lawn-care-basics/lawn-watering-tips#:~:text=Watering%20in%20the%20morning%20(before,roots%20before%20it%20can%20evaporate.">Lawn Watering Tips</a></li>
            <li><a class="white-text" href="https://www.angi.com/articles/7-simple-lawn-care-tips-healthy-green-grass.htm">Tips for a Green Lawn</a></li>
            <li><a class="white-text" href="https://www.gardenista.com/posts/hardscaping-101-all-about-hedges/">All About Hedges</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="grey-text" href="www.facebook.com/d3lawncare">Facebook</a></li>
            <li><a class="grey-text" href="www.instagram.com/d3lawncare">Instagram</a></li>
            <li><a class="grey-text" href="www.instagram.com/d3lawncare">Twitter</a></li>
            <li><a class="grey-text" href="www.instagram.com/d3lawncare">TikTok</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container grey -text">
      Designed by P2G7</a>
      </div>
    </div>
  </footer>
  </div>