/* Materialize */

nav ul a,
nav .brand-logo {
	color: blue;
}

p {
	line-height: 2rem;
}

.sidenav-trigger {
	color: #32cd32;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,.9);
}
	.parallax-container .section {
		width: 100%;
	}

@media only screen and (max-width : 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width : 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

/*Login page*/
.login-message {
 font-size: 3.8rem;
}


h5 {
  background: rgba(0,0,0, 0.4);
  width: fit-content;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
  float: none;
	margin: auto;
}
#logo-container > img:nth-child(1) {
  height: 100%;
  width: 100%;
}

#logo-container {
  height: 100%;
}
/* Element | http://localhost:3001/ 

#logo-container > img:nth-child(1) {
  height: 100%;
  width: 100%;
}

 Element | http://localhost:3001/ 

#logo-container {
  height: 100%;
}

Element | http://localhost:3001/ 

h5.light-green-text {
  box-sizing: ;
  background: rgba(0,0,0, 0.4);
  width: auto;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
  float: none;
}


*/